<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block cssContent %}


<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />

<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<h1>This is my Website</h1>
			<p>On this website you can make and save lists of your gear selection for different types of adventures</p>
		</div>

		<div class="row">
			<img src="{% static 'polls/images/background.gif' %}">
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h2>Click "My Lists" to go to your saved lists</h2>
			<p>That sounds fun I guess</p>
		</div>
	</div>
</div>




</body>



<script type = "text/javascript">


</script>


{% endblock %}




</html>