<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block cssContent %}


<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />

<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

<div class="jumbotron">
	<div class="container text-center">
		<div class="row">
			<h1>Gear Room</h1>
			<p>Make a list for each adventure</p>
		</div>
	</div>
	{% if user.is_authenticated %}

	<div class="container">
		<div class="row text-center">
			<a  href="/polls/list"><button type="button" class="btn btn-primary">My Lists</button></a>

			{% else %}
			<div class="text-center">
			<button class="btn btn-primary">Log In</button>
			<button class="btn btn-primary">Sign Up</button>
			</div>
			{% endif %}
		</div>
	</div>
</div>






</body>



<script type = "text/javascript">


</script>


{% endblock %}




</html>