<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
<script type = "text/javascript" src="{% static 'polls/list.js' %}"></script>
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />
<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
	<div>
		<h1>My Lists</h1>  
		<button>New List +</button>

{% for list in lists %}
   <ul> 
   	<a href="{% url 'list_detail' pk=list.pk %}"><li>{{ list }}</li></a>
   </ul>
{% endfor %}






	</div>


</body>



{% endblock %}




</html>