<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
<script type = "text/javascript" src="{% static 'polls/list.js' %}"></script>
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />
<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

	<div>
		<h1>List Title</h1>
		<p>this is a list</p>
		<button>Add items</button>
		<ul>
			<li>
				item
			</li>

		</ul>
	</div>

</body>



{% endblock %}




</html>