<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
<script type = "text/javascript" src="{% static 'polls/list.js' %}"></script>
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />
<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
	<div>
		<h1>My Lists</h1>  
		<button>New List +</button>

{% for item in List.item_set.all %}
{{ item.title }}
{% endfor %} 
		
{% for list_dict in todo_listing %}  

{{ list_dict.items_name.list_object }}

{% for list_object.title in list_dict %}  

   <ul> 
   	<a href="/polls/listdetail/"><li>{{ list_dict.list_object.title }}</li></a>
   </ul>

{% endfor %} 
{% endfor %}  


	</div>


</body>



{% endblock %}




</html>