<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block cssContent %}



<style type="text/css">

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
    <div class="container">
        <h1>Login</h1>

        <form id="login_form" method="post" action="/polls/login/">
            <div class="form-group">
            {% csrf_token %}
            
            <div class="row">
                Username: <input type="text" name="username" value="" size="50" />
            </div>

           <div class="row">
                Password: <input type="password" name="password" value="" size="50" />
            </div>

            <div class="row">
                <input class="btn btn-primary" type="submit" value="submit" />
            </div>

            </div>
        </form>

    </div>
</body>

    {% endblock %}


</html>
