<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'polls/profile.css' %}" />
<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
<div class="jumbotron hero-unit">
    <h1> My Profile <h1> 
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    {% if userprofile %}
        <p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
        <br/>
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
    {% endif %}
</div>

</body>



{% endblock %}




</html>