<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
<script type = "text/javascript" src="{% static 'polls/list.js' %}"></script>
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'polls/style.css' %}" />
<style type="text/css">
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

<p>Go To My Lists</p>
<a href="polls/list"><button class="btn btn-primary">Go</button></a>

</body>



{% endblock %}




</html>