<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block cssContent %}



<style type="text/css">

</style>

{% endblock %}
{% endblock %}
{% block content %}
   
<body>
    <div class="container">
        <h1>Register</h1>

        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="/polls/login">Click here to login</a><br />

        {% else %}

            <form id="user_form" method="post" action="/polls/register/"
                enctype="multipart/form-data">

                <div class="form-group">

            {% csrf_token %}

            {{ user_form.as_p }}
          <!--  {{ profile_form.as_p }} -->
            <input type="submit" class="btn btn-primary" name="submit" value="Register" />

                </div>
            </form>
        {% endif %}
    </div>
</body>

    {% endblock %}


</html>
