{% load staticfiles %}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'gear/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	{% block cssContent %}{% endblock %}
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li>
                            <a href="/">
                                <h3>Gear Room</h3>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="pull-left">
                                <a href="/gear/list">My Lists</a>
                            </li>
                            <li class="pull-right">
                                <a href="/gear/logout">Log Out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block jsContent %}{% endblock %}
</body>
</html>
