<!DOCTYPE html>
{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'gear/style.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   {% block base_css %}{% endblock %}

		{% block cssContent %}{% endblock %}
		{% block override_css %}{% endblock %}
</head>

<body>

    <header>
    <div class="page-header">
        <h1><a href="/">Gear Room</a></h1>

        <div class="navbar">
            <div class="row col-md-6">
                {% if user.is_authenticated %}
                <a href="/" class="col-md-3">Home</a>
               <!-- <a href="/gear/profile" class="col-md-3">Profile</a> -->
                <a href="/gear/list" class="col-md-3">My Lists</a>
                <a href="/gear/logout" class="col-md-3">Log Out</a>
                {% endif %}
            </div>

        </div>
    </div>
    </header>



    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>


<!--
    <div class="navbar footer-panel">
        <div class="row col-md-6">
                <a href="/" class="col-md-4">Home</a>
                {% if user.is_authenticated %}
                <a href="/gear/profile" class="col-md-4">Profile</a>
                <a href="/gear/list" class="col-md-4">My Lists</a>

            {% endif %}
        </div>
    
</div>

-->

</body>
{% block jsContent %}{% endblock %}
</html>