<!DOCTYPE html>
{% load staticfiles %}

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'gear/style.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   {% block base_css %}{% endblock %}

		{% block cssContent %}{% endblock %}
		{% block override_css %}{% endblock %}
</head>

<body>

    <header>
           <div class="container">
    
            
    
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="/"><h3>Gear Room</h3></a></li>
                            {% if  not user.is_authenticated %}
                            <li class="pull-left"><a href="/gear/about">About</a></li>
                            {% elif user.is_authenticated %}
                         <!--   <a href="/" class="col-md-3">Home</a>
                            <a href="/gear/profile" class="col-md-3">Profile</a> -->
                            <li class="pull-left"><a href="/gear/list">My Lists</a></li>
                            <li class="pull-left"><a href="/gear/about">About</a></li>
                            <li class="pull-right"><a href="/gear/logout">Log Out</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   
        
    </header>



    <div class="container">
        <div class="row">
            <div class="col-12">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>


<!--
    <div class="navbar footer-panel">
        <div class="row col-md-6">
                <a href="/" class="col-md-4">Home</a>
                {% if user.is_authenticated %}
                <a href="/gear/profile" class="col-md-4">Profile</a>
                <a href="/gear/list" class="col-md-4">My Lists</a>

            {% endif %}
        </div>
    
</div>

-->

</body>
{% block jsContent %}{% endblock %}
</html>
