<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}
{% block head %}

{% block jsContent %}
{% endblock %}

{% block cssContent %}


<style type="text/css">
.footer-content p {
    font-size: 16px;
}
	

</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
<div class="jumbotron">
    
   <h1>Welcome to Gear Room</h1>

   <p>To adventure a lot, packing needs to be easy. You can adventure more if you can leave the house in under 30 minutes.</p>

   <p><a href="http://www.tentside.com/what-is-a-microadventure/">What is a microadventure?</a></p>

   <p>Gear Room allows you to create packing lists for different adventures simply and quickly, and is geared towards the adventurer who simply won't commit to a singular outdoor activity. Rock climb one day, and bring your dogs paddleboarding the next.</p> 

   <p>Here's how Gear Room works:</p>

    <ol>
        <li>Make a list</li>
        <li>Each time you go on an adventure, add or remove stuff</li>
        <li>Start traveling like a pro and adventuring more often</li>
    </ol>

   <p>My husband and I go on a lot of adventures, from hiking in Yosemite to drinking in Ireland. In our travels, we've met families that have thru-hiked the Appalachian Trail with 4 young children, families that take their babies backpacking, and couples that sell their homes to travel the world. The key to their success was packing.</p> 

   <p>We often travel with our two dogs, on a tight budget, and mostly by car. We've discovered tons of great ideas for making our trips more fun, easier to plan, and long car rides more comfortable. Here are some of our must have items:</p>

   <ol>
        <li>A travel mug -- get a large coffe and drink at your leisure</li>
        <li>Never leave the house without a bottle of hotsauce</li> 
        <li>Dog toys, becasue the puppy will chew through the seatbelt if you don't</li>
        <li>Camping? Never EVER leave coffee at home.</li>
    </ol>

   <p class="text-center">Get started making lists now!</p>
   <p class="text-center"><button href="{% static 'gear/register/' %}" class="btn btn-primary" href="">Register for an account</a></button></p>

   <hr />

   <div class="footer-content">
       <p>Interested in reading more about my adventures? <a href="http://www.tentside.com/">Read my blog.</a></p>

       <p>Like pretty pictures? <a href="https://www.instagram.com/ashlilauryn/">Follow me on instagram</a></p>


       <p>By the way, this website is currently under development. If you find a bug, or want me to add a feature, <a href="mailto:ashlicharette@gmail.com">send me an email</a></p>
    </div>

</div>



</body>



{% endblock %}




</html>