<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% load static %}
{% block head %}

{% block cssContent %}


<link rel="stylesheet"  href="{% static 'gear/style.css' %}" />

<style type="text/css">

.home-images {
	overflow: hidden;
	padding-top: 30px;
}

.desert {
	background-image: url("{% static 'gear/images/desert.jpeg' %}");
	min-height: 400px;
}

@media (max-width: 480px) { 
	.test{ height: 20px;
		padding:40px;
	}  

}


</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

<div class="jumbotron">
	<div class="container text-center">
		<div class="row text-center">
			<h1>Gear Room</h1>
			<p>Make a list for each adventure</p>
		</div>
	</div>



	{% if user.is_authenticated %}

	<div class="container desert">
		<div class="row text-center">
			<a  href="/gear/list"><button style="margin-top:60px" type="button" class="btn btn-primary btn-lg">Go To My Lists</button></a>
		</div>
	</div>
			{% else %}


	<div class="text-center">
		<a href="gear/login"><button class="btn btn-primary">Log In</button></a>
		<a href="/gear/register"><button class="btn btn-primary">Sign Up</button></a>
	</div>

	<div class="row home-images">

		<div class="col-md-4 text-center">
			<img src="{% static 'gear/images/van.jpeg' %}" />
			<p>Pack</p>
		</div>

		<div class="col-md-4 text-center">
			<img src="{% static 'gear/images/hiker.jpeg' %}" />
			<p>Adventure</p>
		</div>

		<div class="col-md-4 text-center">
			<img src="{% static 'gear/images/water.jpeg' %}" />
			<p>Repeat</p>
		</div>

	</div>
			
			{% endif %}
		
</div>






</body>



<script type = "text/javascript">


</script>


{% endblock %}




</html>