<!DOCTYPE html>
{% extends 'base.html' %}


{% load staticfiles %}
{% block head %}

{% block jsContent %}
<script type = "text/javascript" src="{% static 'gear/list.js' %}"></script>
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'gear/style.css' %}" />
<style type="text/css">

ul {
	list-style-type: none;
}

.box {
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #00BFFF;
}

.inner-box {
	margin-top: 5px;
}



</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>
	<div class="container">

		<div class="row text-center">
			<h1>My Lists</h1>  
		</div>

		<div class="row">
			<form method="POST">{% csrf_token %} {{ form.as_p }} 
				<button style="margin-bottom:30px" type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>



	{% for list in lists %}
   		<div class="container box">
   			<ul> 
   				<li class="inner-box">	
   					<h2>{{ list }}</h2>
   					<a type="button" class="btn btn-primary" href="{% url 'gear:list_detail' pk=list.pk %}"><i class="glyphicon glyphicon-eye-open"></i></a>
   					<a type="button" class="btn btn-danger" href="{% url 'gear:delete_list' list.id %}"><i class="glyphicon glyphicon-trash"></i></a>
   				</li>
   			</ul>
   		</div>
	{% endfor %}
	</div>


</body>


{% endblock %}


</html>