<!DOCTYPE html>
{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% load staticfiles %}
{% block head %}

{% block jsContent %}

<!--<script type = "text/javascript" src="{% static 'gear/list.js' %}"></script>-->
{% endblock %}

{% block cssContent %}

<link rel="stylesheet"  href="{% static 'gear/style.css' %}" />
<style type="text/css">

	ul {
	list-style-type: none;
}

.strikethrough:checked + span{
  text-decoration:line-through;
  font-style: italic;
}

.btn {
	margin:5px;
}


</style>
{% endblock %}
{% endblock %}
{% block content %}

<body>

	
	<div id="container"></div>
	{% render_bundle 'checked' %}


	



	
			
</body>



{% endblock %}




</html>