{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% block cssContent %}
        <style type="text/css">
            .img {
                background-image: url("{% static 'gear/images/stars.jpeg' %}");
                background-size: cover;
                min-height: 600px;
                min-width: 100%;
            }

            .register-text, .errorlist{
                color: white;
            }

            .errorlist {
                padding:0;
            }

            p input {
                margin: 8px 0;
                padding: 8px 0;
            }


        </style>
    {% endblock %}
{% endblock %}

{% block content %}
<div class="container img">
    <div class="row register-text">
        <div class="col-md-2 col-md-offset-3 text-center"> 
            <h2>Pack.</h2>
        </div>
        <div class="col-md-2 text-center">
            <h2>Adventure.</h2>
        </div>
        <div class="col-md-2 text-center">
            <h2>Repeat.</h2>
        </div>
    </div>

    <div class="text-center">
        <h3 class="register-text">Log In</h3>
        <form id="login_form" method="post" action="/gear/login/">
            <div class="form-group">
                {% csrf_token %}
                {{login_form.as_p}}
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.errors %}
                    <p class="label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
                {% endif %}
                <div class="row">
                    <input class="btn btn-primary" type="submit" value="submit" />
                </div>
            </div>
        </form>
    </div>
    <div class=" text-center">
        <a href="{% url 'password_reset_recover' %}"><h4 class="register-text">Forgot Password?</h4></a>
    </div>
</div>
{% endblock %}
