{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% block cssContent %}
    <link rel="stylesheet"  href="{% static 'gear/profile.css' %}" />
    {% endblock %}
{% endblock %}

{% block content %}
<div class="jumbotron hero-unit">
    <h2>Username</h2>
    <p>{{ user.username }}</p>
    <h2>Email</h2> 
    <p>{{ user.email }}</p>
    {% if userprofile %}
        <p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
        <br/>
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
    {% endif %}
</div>
{% endblock %}
