{% extends 'base.html' %}
{% load static %}
{% block head %}
    {% block cssContent %}
        <style type="text/css">
            .main {
                background-image: url("{% static 'gear/images/utah.jpg' %}");
                background-size: cover;
                min-height: 700px;
                min-width: 100%;
            }

            @media (max-width: 480px) {
                .main {
                    min-height:30px;
                }
            }

            body {
                color: white;
            }

            .input-area {
                padding-top:5px;
                padding-bottom: 5px;
                color:black;
                font-weight: bold;
            }

            .helptext {
              display: none;
            }
        </style>
    {% endblock %}
{% endblock %}

{% block content %}
<div class="container main">
    <div class="row">
        <div class="col-md-2 col-md-offset-3 text-center">
            <h2>Pack.</h2>
        </div>
        <div class="col-md-2 text-center">
            <h2>Adventure.</h2>
        </div>
        <div class="col-md-2 text-center">
            <h2>Repeat.</h2>
        </div>
    </div>

    <div class="row text-center">
        <h1>Register</h1>

        {% if registered %}
            <h2>thank you for registering!
            <a href="/gear/login">Click here to login</a></h2><br />
        {% else %}
            <form id="user_form" method="post" action="/gear/register/">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="row input-area">
                        <input type="text" id="username" name="username" value="" autocomplete="off" placeholder="Username" />   
                    </div>
                    <div class="row input-area">
                        <input type="text" id="email" name="email" value="" autocomplete="off" placeholder="Email" />
                    </div>
                    <div class="row input-area">
                        <input type="password" name="password" value="" placeholder="Password"/>
                    </div>

                    {% for username in user_form %}
                        <div class="username{% if field.errors %} field_error{% endif %} row text-center">
                            {% if username.errors %}
                                {{ username.errors }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <input class="btn btn-primary" type="submit" value="submit" />
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
